@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif; /* Default font family */
  }
  
  .font-GreatVibes {
    font-family: 'Great Vibes', cursive;
  }

  

  